<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href='{{"/Assets/css/GO-style.css"| absolute url}}>
	</head>
	<body>
		<header>
			<p>You are view a page from the Troubleshooting Guide for Ranger GTP </p>
			<p>Date of Creation: {{site.date}}. </p>
			<b><a href = "https://mridula-techwriter.github.io/GO-Manufacturing-Team-Doc/">Home</a></b>	
			<hr/>
		</header>

		<main>
      			<div>
        			{{ content }}
      			</div>
    		</main>

		<footer>{% include footer.md %}</footer>

	</body>
</html>
